$title_darkgrey: #302f3d;

div {
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li::marker {
  content: "❖ "
}

li.prevEntry {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.linksBar {
  flex-grow: 1;
  justify-self: flex-start;
  text-align: center;
  width: 100%;
  margin: 20px;
  font-size: x-large;

  a {
    color: $title_darkgrey;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  .image {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
  }
}

.archive {

  .archive-keys {
    .keywords {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      padding-bottom: 20px;

      .keyword {
        flex-grow: 1;
        justify-self: flex-start;
        text-align: center;
        font-size: larger;
      }
    }
  }

  .entries {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;

    .entry {
      flex-grow: 0;
      justify-content: center;
      align-items: center;
      display: inline;
      width: 100%;
      height: 100%;
      margin: 20px;
      flex-basis: 150px;

      .title {
        font-size: large;
      }

      div {

      }

      .subtitle {
        font-style: normal;
      }

      .keywords {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .keyword {
          justify-self: left;
          text-align: center;
          font-size: smaller;
        }
      }
    }
  }

}



@media (max-width: 800px) {
  .sidebar {
    display:none
  }
}

.sidebar {
  flex-grow: 1;
  flex-shrink: 4;
  margin: 100px;

  .title {
    margin-bottom: 10px;
    font-size: large;
  }

  .subtitle {
    margin-left: 20px;
  }
}

.title {
  font-weight: bold;
  color: $title_darkgrey;
}

.subtitle {
  font-style: italic;
  font-size: smaller;
}

.keyword {
  font-style: italic;
}

.right {
  margin-right: -52px;
}

.center {
  flex-grow: 4;
  flex-shrink: 1;
  width: 100%;
  max-width: 800px;
  height: 100%;

  .footer {
    vertical-align: bottom;
    text-align: center;
    font-size: small;
  }
}

.blogEntry {
  margin-top: 20px;

  .blog-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .title {
    font-size: xx-large;
  }

  .subtitle {
    flex-grow: 6;
    width: 600px;
  }
}

.blog-header {
  .title {
    flex-grow: 6;
    width: 600px;
  }

  .keyword {
    font-size: small;
    justify-self: flex-end;
  }
}

.nextPrev {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  justify-content: space-between;
}

.blog-link {
  font-weight: bolder;
}
