.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .image {
    max-width: 800px;
    min-width: 400px;
    margin: auto ;
}

.sidebar {
    flex-grow: 1;
    flex-shrink: 4;
    margin: 35px
}

.title {
    font-weight: bold;
    color: #272631;
}

.subtitle {
    font-style: italic;
    font-size: smaller;
}

.sidebar .title {
    margin-bottom: 10px;
    font-size: large;
}

.sidebar .subtitle {

    margin-left: 20px;
}

.right {
    margin-right: -52px;
}

.center {
    flex-grow: 4;
    flex-shrink: 1;
    width: 100%;
    max-width: 800px;
    height: 100%;
}

.center .footer {
    vertical-align: bottom;
    text-align: center;
    font-size: small;
}


.blogEntry {
    margin-top: 20px;
}

.blogEntry .blog-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.blog-header .title {
    flex-grow: 6;
    width: 600px;
}

.blogEntry .title {
    font-size: x-large;
}

.blogEntry .subtitle {
    flex-grow: 6;
    width: 600px;
}

.blog-header .keywords {
    font-size: small;
    font-style: italic;
    justify-self: flex-end;
}

.nextPrev {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.blog-link {
    font-weight: bolder;
}
